body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #222;
  }
  
  .water-tracker {
    text-align: center;
  }
  
  .glass {
    width: 100px;
    height: 200px;
    background-color: #ddeaf6;
    position: relative;
    margin: 0 auto 20px;
  }
  
  .water {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #3498db;
    transition: height 0.5s ease-in-out;
  }
  
  label {
    display: inline-block;
    cursor: pointer;
  }
  
  h1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    color: #fff;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  label {
    color:#fff;
  }
  .week {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .day {
    text-align: center;
    margin-bottom: 20px;
    margin: 10px; /* Add margin for space between glasses */
  }
  p {
  position: absolute;
    bottom: 520px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  footer {
    position: absolute;
    bottom: 2.5px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }